@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lobster&display=swap');
@import "tailwindcss";

@theme{
    --font-lobster: 'Lobster', cursive;
    --font-lexend: 'Lexend Deca', sans-serif;    
}

.svg-inline--fa {
    height: unset;
    width: 40px;
    aspect-ratio: 1 / 1;
}